/* Estilos base */
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F8F8F8;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  border-bottom: 2px solid #333;
}

p {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  --color: #FF6937;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  font-variant-ligatures: inherit;
  font-variant-caps: inherit;
  font-variant-numeric: inherit;
  font-variant-east-asian: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  vertical-align: baseline;
  font-family: avenir roman,sans-serif;
  line-height: 25px;
  font-size: 16px;
  margin-top: 8px;
  color: #717171;
}

/* Estilos para el cuadro de texto */
textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  resize: none;
}

/* Estilo para el control de audio */
#audio {
  width: 100%;
  margin: 20px 0;
}

/* Estilo para centrar los botones */
.container div {
  text-align: center;
}

button {
  background-color: #1DA1F2;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
}

/* Estilos para el selector de voz */
label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  appearance: none;
  background-image: linear-gradient(to bottom, #fff, #f5f5f5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}

select option {
  padding: 10px;
}

button[name='submit'] {
  display: block;
  margin: 0 auto;
}

.play-button, .download-button {
  background: linear-gradient(to bottom right, #1DA1F2, #0E71C8);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 40px;
}

.boton-contacto {
  display: block;
  margin-bottom: 40px;
}

/* Añadir media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .container {
    padding: 20px 10px;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    display: none;
  }

  textarea {
    font-size: 14px;
    padding: 8px;
    height: 40vh;
    margin-bottom: 10px;
  }

  label {
    font-size: 16px;
    margin-bottom: 5px;
  }

  select {
    font-size: 14px;
    padding: 8px;
    margin-bottom: 10px;
  }

  button, .play-button, .download-button {
    font-size: 0.9rem;
    padding: 15px 25px;
  }

  .play-button, .download-button {
    margin-bottom: 30px;
  }

  .boton-contacto {
    display: none;
  }
}